<!DOCTYPE html>
<html>
  <head>
    <title>MUSIC GENRE CLASSIFICATION</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/file.css') }}" />
  </head>

  <body>
    <header>
      <div class="main">
        <div class="logo">
          <img src="" />
        </div>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://www.youtube.com/watch?v=w7dwcbiYGSE">POP</a></li>
          <li>
            <a href="https://www.youtube.com/watch?v=cJ_FWNwTD9k ">SOUL</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=YtfNtUFOX0I ">ROCK</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=5VB1RvyfISM ">CLASSIC</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=AbxB05ZNHEw ">JAZZ</a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=HJarpumntkE ">REGGAE</a>
          </li>
        </ul>
        <div class="title">
          <h1>The Real Music Genre for</h1>
        </div>
      </div>
      <div class="animated-text">
        <div class="line">POP</div>
        <div class="line">SOUL</div>
        <div class="line">ROCK</div>
        <div class="line">CLASSIC</div>
        <div class="line">JAZZ</div>
        <div class="line">REGGAE</div>
      </div>
      <div class="upload">
        <input type="file" />
        <input type="submit" />
      </div>
    </header>
  </body>
</html>
